@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  font-size: 100%;
  font-family: inherit;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  min-height: 100vh;
  background-color: var(--very-light-gray);
  position: relative;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  display: grid;
  place-content: center;
}

.main-content {
  max-width: 900px;
  min-height: 500px;
  margin: 20px;
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-content__card {
  padding: 48px;
  color: white;
  display: grid;
  align-content: space-between;
  gap: 32px;
}

.main-content__card.sedan {
  background-color: var(--bright-orange);
}

.main-content__card.suv {
  background-color: var(--dark-cyan);
}

.main-content__card.luxury {
  background-color: var(--very-dark-cyan);
}

.card__contents {
  display: grid;
  gap: 32px;
}

.contents__icon {
  width: 64px;
}

.contents__heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  text-transform: uppercase;
}

.contents__description {
  color: var(--transparent-white);
  line-height: 1.8;
}

.card__button {
  background-color: white;
  justify-self: start;
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 24px;
  cursor: pointer;
}

.sedan .card__button {
  color: var(--bright-orange);
}

.suv .card__button {
  color: var(--dark-cyan);
}

.luxury .card__button {
  color: var(--very-dark-cyan);
}

.card__button:hover {
  background-color: transparent;
  color: inherit;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 4px;
  justify-self: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 700px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .main-content__card {
    gap: 24px;
  }
}
